@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bowlby+One+SC&family=Bungee+Inline&family=Chakra+Petch:ital,wght@0,300;0,700;1,700&family=Comme&family=Inter:wght@200;400;500;800&family=Libre+Baskerville:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@500&display=swap');


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    /* Color de fondo de la página */
    font-family: "Poppins";
    user-select: none;
}


.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    height: 80%;
    max-height: 500px;
    min-height: 550px;
    border-radius: 10px;
    overflow: hidden;
    /* Evita que el contenido se desborde */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.lado_izquierdo {
    flex: 1;
    background-color: #ffffff;
    /* Color de fondo del lado izquierdo */
    padding: 10px;
    position: relative;
    /* Posición relativa para alinear contenido */
    max-width: 800px;
    height: 100%;
    display: flex;
    /* Usar flexbox para centrar contenido */
    flex-direction: column;
    /* Dirección de los elementos: columna */
    padding-top: 10%;
    /* justify-content: center; */
    /* Centrar verticalmente */
    align-items: center;
    /* Centrar horizontalmente */
}

.lado_izquierdo h1 {
    color: #5A00A1;
    font-size: 40px;
}

.lado_izquierdo h1,
.lado_izquierdo p {
    margin-bottom: 10px;
}

.lado_izquierdo input {
    width: calc(100% - 120px);
    margin-bottom: 10px;
    /* Espacio entre inputs */
    padding: 5px;
    /* Espaciado interno de los inputs */
    margin-bottom: 30px;
    box-sizing: border-box;
    /* Mantener el ancho total del elemento */
}

.lado_izquierdo button {
    width: 40%;
    height: 10%;
    padding: 10px;
    background-color: #5A00A1;
    /* Color de fondo del botón */
    color: white;
    /* Color del texto del botón */
    border: none;
    /* Quitar borde del botón */
    border-radius: 20px;
    /* Borde redondeado del botón */
    cursor: pointer;
    /* Cambiar cursor al pasar por encima del botón */
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.lado_izquierdo button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.lado_izquierdo button:active {
    background-color: #9632e2;
    /* Color al presionar el botón */
    box-shadow: none;
}

.lado_derecho {
    flex: 1;
    background-image: url('./LadoDerecho.svg');
    /* Ruta de la imagen de fondo */
    background-size: cover;
    /* Ajustar imagen al tamaño del contenedor */
    background-repeat: no-repeat;
    /* No repetir imagen */
    background-position: center;
    /* Centrar la imagen */
    height: 100%;
    /* Ocupar toda la altura del contenedor */
    position: relative;
    /* Posición relativa para alinear contenido */
    max-width: 800px;
}

.imagen {
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 330px;
    /* Cambia el ancho al tamaño deseado */
    height: 250px;
    /* Cambia el alto al tamaño deseado */
    background-image: url('./empresario.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.borroso {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: #f0f0f032;
    backdrop-filter: blur(5px);
    /* Aplicar desenfoque al fondo */
    width: 60%;
    height: 70%;
    border-radius: 30px;
    border: 1px solid #d092ff;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
}

.parrafo {
    color: #525252;
}

.lado_izquierdo input.search-bar {
    padding-left: 20px;
    /* Espacio en el borde izquierdo */
}

.search-bar {
    width: 200px;
    height: 9%;
    border-radius: 17px;
    outline: none;
    border-bottom: 2px solid #9a9a9a;
    border: none;
    padding-left: 100px;
    /* Espacio en el borde izquierdo */
    padding-right: 10px;
    background-color: #f9f0ff;
    color: #61027b;
    transition: all 0.3s ease;
    margin-bottom: 40px;
}


.search-bar::placeholder {
    color: #a8a8a8;
}

.search-bar:hover {
    border: 0.1px solid #61027b;
}

.crear {
    margin-top: 10px;
    color: #525252;
    text-decoration: none;
    font-weight: 500;
}

.crear {
    display: flex;
    align-items: center;
}

.logo {
    display: none; /* Ocultar el logo por defecto */
}

/* Estilos para cuando el tamaño de la pantalla sea igual o menor a 768px (modo celular) */
@media only screen and (max-width: 768px) {
    body {
        background-image: url('./LadoDerecho.svg');
        /* Ruta de la imagen de fondo */
        background-size: cover;
        /* Ajustar imagen al tamaño del contenedor */
        background-repeat: no-repeat;
        /* No repetir imagen */
        background-position: center;
        /* Centrar la imagen */
        position: relative;
        /* Posición relativa para alinear contenido */
        width: auto;
        height: 100vh;
    }

    .login_container {
        flex-direction: column;
        /* Cambiar la dirección de los elementos a columna */
        height: auto;
        /* Altura automática para adaptarse al contenido */
        width: auto;
    }

    .lado_izquierdo {
        opacity: 1;
        order: 2;
        /* Cambiar el orden para que aparezca debajo del lado derecho */
        padding-top: 0;
        background-color: #fffffffd;
        width: 300px;
        transition: all 0.5s ease; /* Transición de 0.5 segundos para todos los cambios */
    }

    .lado_izquierdo button {
        width: 65%;
        font-size: 15px;
    }

    .lado_izquierdo input {
        width: 90%;
        margin-bottom: 10px;
        padding: 5px;
        height: 40px;
        margin-bottom: 30px;
        box-sizing: border-box;
        /* Mantener el ancho total del elemento */
    }

    .lado_derecho {
        display: none;
        /* Ocultar el lado derecho en modo celular */
    }

    .imagen {
        display: none;
        /* Ocultar la imagen en modo celular */
    }

    .crear {
        font-size: 12px;
    }

    .lado_izquierdo p {
        font-size: 12px;
    }
    .lado_izquierdo h1{
        margin-top: 0;
    }
    .logo {
        display: block; /* Mostrar el logo en modo celular */
        margin-top: 20px; /* Espacio entre el logo y el título */
        margin-bottom: 20px; /* Espacio entre el logo y el resto del contenido */
        width: 150px;
        margin-top: 20px;
        margin-bottom: 0;
        transition: all 0.5s ease; /* Transición de 0.5 segundos para todos los cambios */
    }
}
